<html>
    <body>
        <table>
            <tr valign="top">
                <td width="25" height="2">
                    <p align="center">
                        <strong>#index#</strong>
                    </p>                            
                </td>                                    
                <td width="">                                             
                    <p align="center"> #name# </p>                            
                </td>		                            
                <td width="40">                                             
                    <p align="center"> #gasht_pedar[]# </p>                            
                </td>                
                <td width="">                                             
                    <p align="center"> #code_melli# </p>                                     
                </td>		                            
                <td width="">                                             
                    <p align="center"> #tarikh_tavalod# </p>                                    
                </td>		                            
                <td width="">                                             
                    <p align="center"> #gasht_nesbat[]# </p>                                     
                </td>                    
            </tr>
        </table>
    </body>
</html>